<!doctype html>
<html>
   <body>
      <table border = 1>
         <thead>
            <th>Roll</th>
            <th>Name</th>
            <th>Age</th>
            <th>Actions</th>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row[0]}}</td>
               <td>{{row[1]}}</td>
               <td>{{row[2]}}</td>
               <td>
                  <a href="/edit/{{row[0]}}" class="btn">Edit</a>
                  <a href="/del/{{row[0]}}"  class="btn">Delete</a>


                  
               </td>   

               
            </tr>
            


         {% endfor %}
      </table>
      
      <a href = "/">Go back to Main page</a>
   </body>
</html>